body{
    background-color: rgb(214, 218, 252);
}

.container{
    background-color: rgb(192, 196, 255);
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;

    grid-template-areas:
        "header"
        "carrusel"
        "seccion"
        "footer";
        min-height: 100vh;

}
    .mi-nav{
    grid-area: nav;
    background-color: #000000;
    color: #ffffff;
}

.mi-nav .nav-link{
    transition: all 0.3s ease;
    border-radius: 2px;
}

.mi-nav .nav-link:hover{
    background-color:  #2c3e50;
    color: #ffffff !important;
}

.header{
    grid-area: header;
    background-color: #B91C1C; /* rojo principal */
    color: #FFFFFF; /* texto blanco */
    
    padding: 20px; /* espacio interno */
    text-align: center; /* centrar texto */
    
    font-size: 24px; 
    font-weight: bold;

    border-bottom: 4px solid #111827; /* línea decorativa */
}

.carrusel{
    grid-area: carrusel;
    background-color: #111827;

    padding: 20px; /* espacio alrededor */
    display: flex;
    justify-content: center; /* centrar carrusel */
    align-items: center;

    border-radius: 10px; /* bordes suaves */
}

.seccion{
    grid-area: seccion;
    background-color: #c6d0e9;
    color: #111827;

    padding: 30px; /* espacio interno */
    border-radius: 10px; /* bordes suaves */
}


.footer{
    grid-area: footer;
    background-color: #111827;
    color: #9CA3AF;

    text-align: center;
    padding: 20px; /* espacio interno */

    font-size: 14px;
    border-top: 4px solid #B91C1C; /* línea roja temática */
}
.img {
  width: 200px;      /* mismo ancho */
  height: 200px;     /* misma altura */
  object-fit: cover; /* recorta sin deformar */
}