.container{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area:"titulo"
               "text" 
              "boton"
              "footer";

}
.titulo{
  background-color: red;
  color: black;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
    .mi-nav{
    grid-area: nav;
    background-color: #000000;
    color: #ffffff;
}

.mi-nav .nav-link{
    transition: all 0.3s ease;
    border-radius: 2px;
}

.mi-nav .nav-link:hover{
    background-color:  #2c3e50;
    color: #ffffff !important;
}
.text {
  background-color: #f0f8ff; /* aliceblue más limpio */
  max-width: 100%;
  margin: 20px auto;

  padding: 25px;

  border-radius: 15px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.15);

  line-height: 1.7;
  color: #333;

  text-align: justify;
}
.boton {
  background-image: url(../img/fer1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 450px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.footer{
  background-color: gray;
  height: 100px;
  text-align: center;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding:35px;
}
.modal-gris {
  background-color: #2b2b2b;
  color: white;
  border-radius: 12px;
}


.modal-header {
  background-color: #3a3a3a;
  border-bottom: 1px solid #555;
}

/* BODY */
.modal-body {
  background-color: #2b2b2b;
}

/* FOOTER */
.modal-footer {
  background-color: #3a3a3a;
  border-top: 1px solid #555;
}

/* Lista personalizada */
.item-gris {
  background-color: #3a3a3a;
  color: white;
  border: 1px solid #555;
}

/* Botón cerrar blanco */
.btn-close-white {
  filter: invert(1);
}
